name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Find scripts
      run: |
        ls -la ./test/HttpExecutor.Tests.Integration/Scripts
    - name: Find scripts
      run: |
        ls -la ./test/HttpExecutor.Tests.Integration/bin/Debug/net5.0/Scripts
    - name: Test
      run: dotnet test --no-build --verbosity normal
